<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/contact.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="Box-1">
        <a href="/index.html"
          ><img src="../Images/Frame_1_3.png" alt="Logo" class="Logo"
        /></a>
      </div>
      <div class="Box-2">
        <nav>
          <ul>
            <a href="../index.html"><li>Inicio</li></a>
            <a href="./Porfolio.html"><li>Portfolio</li></a>
            <a href="./Budget.html"><li>Presupuestos</li></a>
            <a href="./Contact.html"><li>Contacto</li></a>
          </ul>
        </nav>

      </div>
    </header>
    <h1>Información de Contacto</h1>
    <footer class="Footer">
      <p>Copyright by Kmilo&copy;</p>
    </footer>
  </body>
</html>
